@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, Helvetica Neue, Arial, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Theme colors */
  --color-primary: 34 197 94; /* light green (tailwind green-500) */
  --color-primary-foreground: 255 255 255; /* white */
  --color-background: 255 255 255; /* white */
  --color-muted: 245 245 245; /* whitesmoke */
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-background text-gray-800 font-sans;
}
